.empty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-family: DM Sans;
    padding: 20px;
}

.empty-heading {
    color: #1e293b;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.empty-title {
    color: #64748b;
    text-align: center;
}

.empty-button {
    color: #ffffff;
    background-color: #f7931e;
    outline: none;
    border-width: 0px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border-radius: 8px;
    cursor: pointer;
}