.success-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
}

.success-image-container {
    display: flex;
    justify-content: center;
}

.success-heading {
    color: #1E293B;
    font-size: 20px;
    font-weight: 500;
    font-family: DM Sans;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}

.success-paragraph {
    color: #64748B;
    font-size: 14px;
    font-weight: 400;
    font-family: DM Sans;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}


.success-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.success-button {
    background-color: #F7931E;
    background-size: cover;
    border-radius: 8px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    outline: none;
    border-width: 0px;

    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 16px;
    letter-spacing: 0%;


    cursor: pointer;
}