.item-banner-container {
    background-image: url('https://res.cloudinary.com/dokbp23jt/image/upload/v1770724640/Group_7444_npva5z.png');
    background-size: cover;
    width: 100%;
    display: flex;
    padding: 10px;
}

.item-banner-container-part-1 {
    width: 210px;
    padding: 10px;
}

.item-banner-image-container {
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.item-banner-image-container-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.item-banner-container-part-2 {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.part-2-heading {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.part-2-paragraph {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto;
    line-height: 16px;
}

.item-banner-part-2-rating-container {
    display: flex;
    justify-content: space-around;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.rating-heading {
    font-size: 12px;
    font-weight: 700;
    font-family: DM Sans;
    line-height: 16px;
    align-self: center;

    color: #ffffff;
}

.start-icon {
    width: 12px;
    height: 12px;
    align-items: center;
}

.ratings-count {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    color: #e2e8f0;
}

.li-item-heading-new {
    color: #334155;
    font-size: 16px;
    font-weight: 700;
    font-family: DM Sans;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.li-item-paragraph-new {
    color: #334155;
    font-size: 14px;
    font-weight: 500;
    font-family: DM Sans;
    line-height: 16px;
    letter-spacing: 0.2px;
}

.rating-text {
    color: #1e293b;
    font-family: DM Sans;
    font-size: 14px;
}

.add-button {
    border: 2px solid #ffa412;
    outline: none;
    background-color: transparent;
    color: #ffa412;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    line-height: 12px;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}

.li-item-part-1 {
    width: 50%;
    height: 150px;
}

.li-item-image {
    width: 100%;
    height: 100%;
}

.ratings-star-con {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px;
    height: 30px;
}

@media screen and (min-width: 576px) {
    .item-banner-container {
        display: flex;
        justify-content: center;
    }

    .restaurants-list-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 40px;
        margin-right: 40px;
    }

    .li-item-image {
        width: 255px;
        height: 180px;
    }

    .li-item-part-1 {
        min-width: 10%;
        max-width: 50%;
    }

    .li-item-part-2 {
        min-width: 10%;
        max-width: 50%;
    }
}